# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
UnityGenerated/
[Ll]ibrary/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.sdf

